ExamWeb/Connected Services/JobPostingService/JobPostingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ExamWCF.DTOs" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExamWCF.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50219/Services/JobPostingService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Web.Mvc" />
  <xs:import schemaLocation="http://localhost:50219/Services/JobPostingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfJobPostingDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JobPostingDTO" nillable="true" type="tns:JobPostingDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJobPostingDTO" nillable="true" type="tns:ArrayOfJobPostingDTO" />
  <xs:complexType name="JobPostingDTO">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Web.Mvc" minOccurs="0" name="AttachmentTypes" nillable="true" type="q1:ArrayOfSelectListItem" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmploymentTypeID" type="xs:unsignedByte" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Web.Mvc" minOccurs="0" name="EmploymentTypes" nillable="true" type="q2:ArrayOfSelectListItem" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsClosed" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="JobDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobID" type="ser:guid" />
      <xs:element minOccurs="0" name="MinimumExperience" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Web.Mvc" minOccurs="0" name="Skills" nillable="true" type="q3:ArrayOfSelectListItem" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalCandidates" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobPostingDTO" nillable="true" type="tns:JobPostingDTO" />
</xs:schema>